
<div class="container-fluid" id="top-container">
        <h1 class="text-center" id="main-title">Encontre o emprego dos seus sonhos</h1>
        <p class="text-center" id="main-subtitle">Somos o site com mais vagas de Tecnologia no mercado, direcionadas a home office</p>
        <form class="form-inline" id="search-form" action="">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" id="job" name="job" placeholder="Digite a vaga que está buscando">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Procurar</button>
            </div>
        </form>
    </div>

<main>

    <div class="container" id="jobs-container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="job-list-title">Veja as nossas vagas em destaque</h2>
                <ul class="list-group" id="job-list">
                    <li class="list-group-item new-job">
                        <img src="/img/company.svg" alt="Company">
                        <p>Empresa</p>
                        <h2>Título da Vaga</h2>
                        <p>R$2100,00</p>
                        <span class="new-job-label">Nova</span>
                        <a class="btn btn-primary">Ver Vaga</a>
                    </li>
                    <li class="list-group-item new-job">
                        <img src="/img/company.svg" alt="Company">
                        <p>Empresa</p>
                        <h2>Título da Vaga</h2>
                        <p>R$2100,00</p>
                        <span class="new-job-label">Nova</span>
                        <a class="btn btn-primary">Ver Vaga</a>
                    </li>
                    <li class="list-group-item">
                        <img src="/img/company.svg" alt="Company">
                        <p>Empresa</p>
                        <h2>Título da Vaga</h2>
                        <p>R$2100,00</p>
                        <a class="btn btn-primary">Ver Vaga</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</main>
